@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;500;700&display=swap');
@import "tailwindcss";

:root {
  --black:#050505;
  --charcoal:#0b0b0b;
  --panel:#111;
  --panel2:#15120e;
  --gold:#C5A880;
  --gold2:#e7d2a8;
  --ivory:#f4f0ec;
  --muted:rgba(244,240,236,.62);

  --background: #ffffff;
  --foreground: #171717;
}

h1, h2, h3, h4, h5, h6, .serif {
  font-family: 'Playfair Display', serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
